.container{
    width: 200px;
    height: 500px;
    background-color: red;}

.inside{
    width: 50%;
    height: 50%;
    background-color: blue;}

.lala1{
    font-size: 1rem;}

.lala2{
    font-size: 1vw;}

.lala3{
    font-size: 1vh;}

.lala4{
    font-size: 1vmin;}

.lala5{
    font-size: 1vmax;}