#base{
    height: 10px;
    background-color: red;}

#container{
    background-color: blue;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;}

#base2{
    height: 10px;
    background-color: greenyellow;}

#container2{
    background-color: burlywood;
    color: red;
    padding: 10px;}