p{
    color: red;
    text-align: justify;
    text-transform: lowercase;
    text-indent: 35px;
    text-decoration: underline;
    letter-spacing: 1px;
    line-height: 20px;
    word-spacing: 5px;
    text-shadow: 2px 2px 5px green;}